@font-face {
  font-family: 'covesb';
  src: url('../fonts/covesb.otf');
}

@font-face {
  font-family: 'coves';
  src: url('../fonts/coves.otf');
}

html {
  background: radial-gradient(ellipse at top left, #1b2735 47%, #090a0f 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.starwrapper{
	width: 90vw;
  	height: 100vh;
	overflow: hidden;
	float: right
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 934px 160px #FFF , 911px 1375px #FFF , 878px 759px #FFF , 1258px 1373px #FFF , 694px 433px #FFF , 1552px 361px #FFF , 1636px 167px #FFF , 170px 609px #FFF , 445px 1759px #FFF , 312px 1762px #FFF , 1351px 1963px #FFF , 1942px 882px #FFF , 1526px 776px #FFF , 800px 782px #FFF , 1459px 380px #FFF , 1250px 1117px #FFF , 638px 928px #FFF , 1096px 1370px #FFF , 1174px 730px #FFF , 1014px 1061px #FFF , 6px 1524px #FFF , 1403px 192px #FFF , 1322px 228px #FFF , 331px 746px #FFF , 473px 1889px #FFF , 1670px 59px #FFF , 1036px 1671px #FFF , 601px 1743px #FFF , 28px 1292px #FFF , 905px 242px #FFF , 1991px 1278px #FFF , 1259px 1545px #FFF , 1486px 833px #FFF , 1130px 1674px #FFF , 841px 70px #FFF , 1853px 1869px #FFF , 820px 1061px #FFF , 538px 423px #FFF , 357px 1695px #FFF , 560px 1178px #FFF , 281px 875px #FFF , 1102px 235px #FFF , 607px 1978px #FFF , 346px 1042px #FFF , 1101px 51px #FFF , 1209px 963px #FFF , 29px 233px #FFF , 1279px 1501px #FFF , 1697px 1352px #FFF , 66px 711px #FFF , 1709px 1091px #FFF , 507px 311px #FFF , 394px 1163px #FFF , 761px 2px #FFF , 1699px 241px #FFF , 1822px 932px #FFF , 423px 115px #FFF , 368px 1711px #FFF , 1438px 872px #FFF , 1213px 1424px #FFF , 357px 763px #FFF , 1165px 1630px #FFF , 516px 1905px #FFF , 181px 66px #FFF , 714px 1212px #FFF , 1698px 1766px #FFF , 179px 741px #FFF , 1014px 1052px #FFF , 1038px 1133px #FFF , 1335px 1289px #FFF , 1148px 1124px #FFF , 376px 1707px #FFF , 1637px 895px #FFF , 527px 1627px #FFF , 877px 1661px #FFF , 1284px 1403px #FFF , 1907px 1818px #FFF , 685px 821px #FFF , 1870px 821px #FFF , 607px 71px #FFF , 558px 1681px #FFF , 875px 1890px #FFF , 806px 213px #FFF , 923px 1065px #FFF , 495px 1571px #FFF , 1640px 1042px #FFF , 1857px 288px #FFF , 369px 148px #FFF , 85px 1989px #FFF , 1316px 967px #FFF , 961px 1637px #FFF , 1761px 506px #FFF , 160px 1526px #FFF , 1685px 880px #FFF , 1057px 1372px #FFF , 1093px 369px #FFF , 1689px 1005px #FFF , 1859px 735px #FFF , 777px 1793px #FFF , 936px 1243px #FFF , 1018px 1886px #FFF , 1688px 277px #FFF , 224px 527px #FFF , 636px 49px #FFF , 1145px 78px #FFF , 1786px 88px #FFF , 1173px 1313px #FFF , 1414px 792px #FFF , 25px 265px #FFF , 1067px 1943px #FFF , 447px 315px #FFF , 894px 765px #FFF , 1726px 848px #FFF , 1809px 1700px #FFF , 84px 1228px #FFF , 1623px 708px #FFF , 1275px 375px #FFF , 335px 42px #FFF , 604px 1691px #FFF , 486px 608px #FFF , 1432px 719px #FFF , 902px 1353px #FFF , 1611px 1472px #FFF , 821px 616px #FFF , 1051px 682px #FFF , 1335px 1273px #FFF , 206px 854px #FFF , 1685px 1803px #FFF , 1414px 1384px #FFF , 1882px 1058px #FFF , 602px 795px #FFF , 1680px 717px #FFF , 1498px 370px #FFF , 1942px 760px #FFF , 1761px 1224px #FFF , 980px 1264px #FFF , 263px 1682px #FFF , 909px 214px #FFF , 1901px 1077px #FFF , 279px 994px #FFF , 1507px 1205px #FFF , 1066px 251px #FFF , 1954px 70px #FFF , 1389px 990px #FFF , 1946px 2000px #FFF , 433px 385px #FFF , 1452px 479px #FFF , 1952px 606px #FFF , 1991px 1345px #FFF , 1474px 642px #FFF , 1856px 704px #FFF , 632px 566px #FFF , 1273px 1303px #FFF , 966px 330px #FFF , 62px 113px #FFF , 766px 1798px #FFF , 1515px 1492px #FFF , 1092px 1085px #FFF , 1254px 737px #FFF , 996px 1350px #FFF , 1168px 470px #FFF , 1303px 781px #FFF , 427px 2000px #FFF , 810px 1500px #FFF , 1205px 503px #FFF , 578px 331px #FFF , 1488px 1559px #FFF , 1132px 657px #FFF , 1209px 278px #FFF , 1294px 284px #FFF , 601px 356px #FFF , 1028px 417px #FFF , 1979px 1981px #FFF , 729px 982px #FFF , 469px 297px #FFF , 1976px 1401px #FFF , 1857px 1214px #FFF , 576px 552px #FFF , 341px 1191px #FFF , 1286px 627px #FFF , 446px 1518px #FFF , 1635px 1952px #FFF , 875px 1939px #FFF , 1506px 1543px #FFF , 1334px 1032px #FFF , 1480px 1674px #FFF , 175px 1120px #FFF , 117px 130px #FFF , 1614px 1709px #FFF , 1162px 1446px #FFF , 1958px 1707px #FFF , 1427px 812px #FFF , 747px 186px #FFF , 1385px 923px #FFF , 1084px 1666px #FFF , 1299px 1361px #FFF , 445px 1504px #FFF , 233px 792px #FFF , 1881px 215px #FFF , 1030px 1551px #FFF , 193px 974px #FFF , 112px 851px #FFF , 581px 786px #FFF , 744px 1908px #FFF , 335px 1916px #FFF , 145px 403px #FFF , 1905px 1134px #FFF , 1464px 363px #FFF , 1904px 576px #FFF , 811px 426px #FFF , 1133px 1771px #FFF , 673px 344px #FFF , 1957px 501px #FFF , 1669px 981px #FFF , 1800px 1119px #FFF , 957px 1631px #FFF , 480px 1488px #FFF , 1979px 1609px #FFF , 982px 564px #FFF , 393px 388px #FFF , 1845px 1507px #FFF , 446px 712px #FFF , 1639px 1150px #FFF , 487px 1551px #FFF , 852px 701px #FFF , 94px 537px #FFF , 1389px 404px #FFF , 451px 486px #FFF , 1531px 242px #FFF , 1617px 267px #FFF , 1947px 1188px #FFF , 435px 469px #FFF , 1325px 1346px #FFF , 1635px 1639px #FFF , 1763px 1192px #FFF , 1581px 1973px #FFF , 1836px 1102px #FFF , 920px 1698px #FFF , 848px 1751px #FFF , 1432px 164px #FFF , 670px 1439px #FFF , 458px 1688px #FFF , 1715px 704px #FFF , 769px 1300px #FFF , 568px 147px #FFF , 964px 1433px #FFF , 393px 1146px #FFF , 1595px 1589px #FFF , 1941px 1895px #FFF , 598px 1146px #FFF , 505px 750px #FFF , 1133px 903px #FFF , 981px 1483px #FFF , 1573px 109px #FFF , 1397px 606px #FFF , 1277px 217px #FFF , 453px 1264px #FFF , 1955px 106px #FFF , 1235px 928px #FFF , 75px 1253px #FFF , 1028px 664px #FFF , 1574px 989px #FFF , 851px 1268px #FFF , 856px 734px #FFF , 410px 145px #FFF , 1269px 184px #FFF , 1879px 657px #FFF , 1446px 793px #FFF , 1139px 479px #FFF , 114px 1562px #FFF , 447px 1961px #FFF , 996px 1830px #FFF , 1586px 685px #FFF , 15px 1399px #FFF , 1382px 946px #FFF , 1188px 1327px #FFF , 341px 731px #FFF , 579px 1367px #FFF , 764px 1094px #FFF , 1586px 299px #FFF , 88px 912px #FFF , 1498px 610px #FFF , 1926px 1239px #FFF , 804px 1286px #FFF , 1021px 231px #FFF , 1280px 1883px #FFF , 927px 1185px #FFF , 383px 363px #FFF , 781px 81px #FFF , 825px 565px #FFF , 779px 1625px #FFF , 1158px 806px #FFF , 1075px 1334px #FFF , 1374px 1613px #FFF , 664px 1757px #FFF , 661px 1193px #FFF , 379px 655px #FFF , 629px 1040px #FFF , 1669px 308px #FFF , 250px 1322px #FFF , 1822px 976px #FFF , 1337px 480px #FFF , 1065px 1690px #FFF , 449px 1760px #FFF , 1867px 356px #FFF , 1894px 1853px #FFF , 1148px 502px #FFF , 77px 188px #FFF , 762px 1468px #FFF , 1197px 1301px #FFF , 512px 719px #FFF , 391px 1067px #FFF , 939px 941px #FFF , 813px 203px #FFF , 1002px 1945px #FFF , 1627px 1626px #FFF , 510px 566px #FFF , 1064px 966px #FFF , 1376px 897px #FFF , 744px 99px #FFF , 71px 895px #FFF , 1334px 1258px #FFF , 765px 1816px #FFF , 173px 773px #FFF , 322px 252px #FFF , 930px 1758px #FFF , 1045px 634px #FFF , 1065px 1572px #FFF , 372px 116px #FFF , 728px 326px #FFF , 242px 1320px #FFF , 142px 1088px #FFF , 205px 1225px #FFF , 1353px 815px #FFF , 931px 1824px #FFF , 1650px 292px #FFF , 662px 628px #FFF , 1077px 369px #FFF , 724px 1858px #FFF , 1548px 1833px #FFF , 433px 1768px #FFF , 1680px 115px #FFF , 442px 1362px #FFF , 1773px 1487px #FFF , 1031px 810px #FFF , 544px 202px #FFF , 166px 739px #FFF , 741px 1812px #FFF , 1892px 1437px #FFF , 945px 1092px #FFF , 207px 722px #FFF , 1554px 1730px #FFF , 358px 334px #FFF , 792px 653px #FFF , 1599px 385px #FFF , 111px 783px #FFF , 1969px 1777px #FFF , 1435px 1481px #FFF , 1218px 37px #FFF , 688px 799px #FFF , 411px 1610px #FFF , 1859px 617px #FFF , 221px 980px #FFF , 1562px 875px #FFF , 747px 1489px #FFF , 1359px 44px #FFF , 1740px 735px #FFF , 240px 461px #FFF , 891px 582px #FFF , 1819px 1366px #FFF , 487px 1080px #FFF , 122px 721px #FFF , 276px 103px #FFF , 732px 1362px #FFF , 1231px 138px #FFF , 532px 1068px #FFF , 304px 1267px #FFF , 1589px 681px #FFF , 363px 1908px #FFF , 667px 1401px #FFF , 1878px 229px #FFF , 40px 1042px #FFF , 1892px 298px #FFF , 1096px 1799px #FFF , 1718px 1180px #FFF , 1697px 206px #FFF , 1576px 1542px #FFF , 1349px 39px #FFF , 1162px 1524px #FFF , 1719px 813px #FFF , 1397px 1883px #FFF , 1541px 1090px #FFF , 1696px 1756px #FFF , 426px 926px #FFF , 63px 523px #FFF , 618px 1680px #FFF , 619px 1500px #FFF , 1370px 1257px #FFF , 411px 196px #FFF , 1977px 261px #FFF , 1428px 350px #FFF , 1744px 111px #FFF , 1946px 1093px #FFF , 446px 1772px #FFF , 1615px 685px #FFF , 203px 1582px #FFF , 1243px 1012px #FFF , 402px 692px #FFF , 620px 1815px #FFF , 144px 1146px #FFF , 444px 457px #FFF , 662px 212px #FFF , 1870px 1106px #FFF , 1001px 88px #FFF , 1795px 1760px #FFF , 1627px 810px #FFF , 1834px 249px #FFF , 1762px 1967px #FFF , 1793px 1151px #FFF , 624px 1014px #FFF , 312px 1759px #FFF , 180px 1172px #FFF , 758px 1910px #FFF , 1577px 1875px #FFF , 1884px 394px #FFF , 1313px 513px #FFF , 1089px 911px #FFF , 121px 88px #FFF , 1020px 723px #FFF , 1114px 475px #FFF , 296px 1283px #FFF , 466px 1613px #FFF , 1541px 1813px #FFF , 1363px 301px #FFF , 84px 1377px #FFF , 945px 1888px #FFF , 1664px 1803px #FFF , 1803px 1574px #FFF , 625px 991px #FFF , 1526px 366px #FFF , 726px 1863px #FFF , 1953px 39px #FFF , 242px 1645px #FFF , 1757px 1003px #FFF , 1089px 138px #FFF , 1412px 12px #FFF , 739px 1171px #FFF , 489px 953px #FFF , 41px 996px #FFF , 563px 14px #FFF , 1207px 1684px #FFF , 1117px 1956px #FFF , 370px 1402px #FFF , 358px 1957px #FFF , 806px 1054px #FFF , 1732px 12px #FFF , 662px 44px #FFF , 1642px 502px #FFF , 417px 1233px #FFF , 519px 835px #FFF , 961px 41px #FFF , 1376px 472px #FFF , 531px 397px #FFF , 429px 424px #FFF , 171px 61px #FFF , 215px 603px #FFF , 1123px 1205px #FFF , 1950px 1702px #FFF , 1817px 560px #FFF , 893px 960px #FFF , 1738px 1766px #FFF , 617px 1362px #FFF , 457px 1627px #FFF , 144px 38px #FFF , 115px 1708px #FFF , 1068px 1147px #FFF , 1291px 498px #FFF , 126px 948px #FFF , 1382px 860px #FFF , 1038px 1345px #FFF , 259px 1995px #FFF , 331px 1863px #FFF , 1084px 754px #FFF , 1749px 1842px #FFF , 1986px 1075px #FFF , 875px 1900px #FFF , 1831px 1916px #FFF , 1778px 409px #FFF , 1243px 755px #FFF , 1587px 891px #FFF , 1394px 203px #FFF , 1814px 1223px #FFF , 752px 579px #FFF , 614px 100px #FFF , 541px 1284px #FFF , 398px 1858px #FFF , 55px 1246px #FFF , 251px 1097px #FFF , 399px 487px #FFF , 554px 908px #FFF , 1532px 1267px #FFF , 1648px 1339px #FFF , 1639px 1330px #FFF , 379px 688px #FFF , 1542px 114px #FFF , 533px 553px #FFF , 1583px 644px #FFF , 1452px 1802px #FFF , 868px 428px #FFF , 339px 1527px #FFF , 936px 940px #FFF , 799px 275px #FFF , 268px 385px #FFF , 590px 253px #FFF , 466px 1177px #FFF , 102px 1182px #FFF , 640px 193px #FFF , 1001px 777px #FFF , 890px 11px #FFF , 1438px 750px #FFF , 441px 832px #FFF , 803px 1414px #FFF , 1469px 606px #FFF , 377px 1809px #FFF , 1514px 1781px #FFF , 1948px 1958px #FFF , 1795px 1663px #FFF , 759px 507px #FFF , 1916px 1728px #FFF , 1266px 633px #FFF , 1429px 1054px #FFF , 1479px 676px #FFF , 246px 304px #FFF , 1616px 1582px #FFF , 1804px 1012px #FFF , 1435px 1998px #FFF , 1179px 197px #FFF , 321px 1038px #FFF , 1667px 1715px #FFF , 575px 327px #FFF , 1153px 1316px #FFF , 1308px 1597px #FFF , 1998px 803px #FFF , 1538px 897px #FFF , 481px 584px #FFF , 1187px 1715px #FFF , 406px 1711px #FFF , 423px 173px #FFF , 1528px 187px #FFF , 556px 185px #FFF , 1865px 476px #FFF , 1787px 1531px #FFF , 1891px 1185px #FFF , 3px 693px #FFF , 1677px 1249px #FFF , 351px 1202px #FFF , 570px 1711px #FFF , 1282px 595px #FFF , 1882px 1331px #FFF , 718px 1404px #FFF , 1577px 311px #FFF , 899px 540px #FFF , 311px 144px #FFF , 1510px 131px #FFF , 536px 1731px #FFF , 1056px 1285px #FFF , 1878px 1299px #FFF , 947px 1763px #FFF , 1224px 286px #FFF , 1759px 1910px #FFF , 1888px 794px #FFF , 1589px 900px #FFF , 286px 1505px #FFF , 187px 1907px #FFF , 1634px 107px #FFF , 985px 289px #FFF , 1696px 1570px #FFF , 1866px 1391px #FFF , 274px 373px #FFF , 36px 1661px #FFF , 416px 1316px #FFF , 1512px 1303px #FFF , 9px 652px #FFF , 657px 129px #FFF , 1484px 594px #FFF , 896px 566px #FFF , 942px 432px #FFF , 1688px 1402px #FFF , 50px 1472px #FFF , 496px 1483px #FFF , 1175px 1180px #FFF , 194px 1490px #FFF , 790px 510px #FFF , 1657px 1674px #FFF , 177px 1038px #FFF , 1409px 691px #FFF , 117px 1924px #FFF , 502px 871px #FFF , 789px 697px #FFF , 270px 321px #FFF , 267px 823px #FFF , 1178px 181px #FFF , 1823px 214px #FFF , 625px 960px #FFF , 1967px 915px #FFF , 1056px 179px #FFF , 1261px 1006px #FFF , 65px 1037px #FFF , 281px 1181px #FFF , 1723px 9px #FFF , 1362px 786px #FFF , 1553px 60px #FFF , 1022px 1377px #FFF , 115px 1965px #FFF , 1414px 1840px #FFF , 557px 63px #FFF , 1241px 322px #FFF , 814px 38px #FFF , 1476px 1593px #FFF , 135px 1150px #FFF , 1438px 1491px #FFF , 90px 331px #FFF , 276px 438px #FFF , 625px 1056px #FFF , 1482px 806px #FFF , 1231px 1731px #FFF , 1776px 464px #FFF , 1580px 1888px #FFF , 645px 1413px #FFF , 465px 1653px #FFF , 369px 1398px #FFF , 46px 1124px #FFF , 521px 1229px #FFF , 1158px 1239px #FFF , 733px 894px #FFF , 1910px 447px #FFF , 688px 1857px #FFF , 1649px 595px #FFF , 706px 1820px #FFF , 779px 122px #FFF , 1762px 1470px #FFF , 184px 1756px #FFF , 1132px 1703px #FFF , 222px 244px #FFF , 1976px 1518px #FFF , 1606px 629px #FFF , 1059px 1842px #FFF , 301px 1726px #FFF , 887px 577px #FFF , 659px 1850px #FFF , 1360px 538px #FFF , 1388px 684px #FFF , 987px 1526px #FFF , 1581px 1477px #FFF , 1341px 1208px #FFF , 1892px 325px #FFF , 91px 1432px #FFF , 636px 1432px #FFF , 1576px 1022px #FFF , 1176px 47px #FFF , 1150px 11px #FFF , 112px 329px #FFF , 514px 1820px #FFF , 1828px 437px #FFF , 484px 1805px #FFF , 240px 286px #FFF , 261px 654px #FFF , 1690px 1488px #FFF , 807px 1805px #FFF , 1617px 1369px #FFF , 1627px 1418px #FFF , 243px 1085px #FFF , 574px 910px #FFF , 273px 1598px #FFF , 1489px 1302px #FFF , 1936px 1525px #FFF , 971px 571px #FFF , 507px 1423px #FFF , 56px 1863px #FFF , 560px 551px #FFF , 1794px 776px #FFF , 1571px 1484px #FFF , 892px 1917px #FFF , 183px 1117px #FFF , 249px 1995px #FFF , 1276px 171px #FFF , 613px 286px #FFF , 1530px 448px #FFF , 214px 503px #FFF , 1097px 1149px #FFF , 1622px 735px #FFF , 474px 692px #FFF , 1595px 44px #FFF , 574px 1090px #FFF , 1411px 1026px #FFF , 1949px 56px #FFF , 855px 291px #FFF , 1401px 1213px #FFF , 1832px 1416px #FFF , 1339px 1705px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 934px 160px #FFF , 911px 1375px #FFF , 878px 759px #FFF , 1258px 1373px #FFF , 694px 433px #FFF , 1552px 361px #FFF , 1636px 167px #FFF , 170px 609px #FFF , 445px 1759px #FFF , 312px 1762px #FFF , 1351px 1963px #FFF , 1942px 882px #FFF , 1526px 776px #FFF , 800px 782px #FFF , 1459px 380px #FFF , 1250px 1117px #FFF , 638px 928px #FFF , 1096px 1370px #FFF , 1174px 730px #FFF , 1014px 1061px #FFF , 6px 1524px #FFF , 1403px 192px #FFF , 1322px 228px #FFF , 331px 746px #FFF , 473px 1889px #FFF , 1670px 59px #FFF , 1036px 1671px #FFF , 601px 1743px #FFF , 28px 1292px #FFF , 905px 242px #FFF , 1991px 1278px #FFF , 1259px 1545px #FFF , 1486px 833px #FFF , 1130px 1674px #FFF , 841px 70px #FFF , 1853px 1869px #FFF , 820px 1061px #FFF , 538px 423px #FFF , 357px 1695px #FFF , 560px 1178px #FFF , 281px 875px #FFF , 1102px 235px #FFF , 607px 1978px #FFF , 346px 1042px #FFF , 1101px 51px #FFF , 1209px 963px #FFF , 29px 233px #FFF , 1279px 1501px #FFF , 1697px 1352px #FFF , 66px 711px #FFF , 1709px 1091px #FFF , 507px 311px #FFF , 394px 1163px #FFF , 761px 2px #FFF , 1699px 241px #FFF , 1822px 932px #FFF , 423px 115px #FFF , 368px 1711px #FFF , 1438px 872px #FFF , 1213px 1424px #FFF , 357px 763px #FFF , 1165px 1630px #FFF , 516px 1905px #FFF , 181px 66px #FFF , 714px 1212px #FFF , 1698px 1766px #FFF , 179px 741px #FFF , 1014px 1052px #FFF , 1038px 1133px #FFF , 1335px 1289px #FFF , 1148px 1124px #FFF , 376px 1707px #FFF , 1637px 895px #FFF , 527px 1627px #FFF , 877px 1661px #FFF , 1284px 1403px #FFF , 1907px 1818px #FFF , 685px 821px #FFF , 1870px 821px #FFF , 607px 71px #FFF , 558px 1681px #FFF , 875px 1890px #FFF , 806px 213px #FFF , 923px 1065px #FFF , 495px 1571px #FFF , 1640px 1042px #FFF , 1857px 288px #FFF , 369px 148px #FFF , 85px 1989px #FFF , 1316px 967px #FFF , 961px 1637px #FFF , 1761px 506px #FFF , 160px 1526px #FFF , 1685px 880px #FFF , 1057px 1372px #FFF , 1093px 369px #FFF , 1689px 1005px #FFF , 1859px 735px #FFF , 777px 1793px #FFF , 936px 1243px #FFF , 1018px 1886px #FFF , 1688px 277px #FFF , 224px 527px #FFF , 636px 49px #FFF , 1145px 78px #FFF , 1786px 88px #FFF , 1173px 1313px #FFF , 1414px 792px #FFF , 25px 265px #FFF , 1067px 1943px #FFF , 447px 315px #FFF , 894px 765px #FFF , 1726px 848px #FFF , 1809px 1700px #FFF , 84px 1228px #FFF , 1623px 708px #FFF , 1275px 375px #FFF , 335px 42px #FFF , 604px 1691px #FFF , 486px 608px #FFF , 1432px 719px #FFF , 902px 1353px #FFF , 1611px 1472px #FFF , 821px 616px #FFF , 1051px 682px #FFF , 1335px 1273px #FFF , 206px 854px #FFF , 1685px 1803px #FFF , 1414px 1384px #FFF , 1882px 1058px #FFF , 602px 795px #FFF , 1680px 717px #FFF , 1498px 370px #FFF , 1942px 760px #FFF , 1761px 1224px #FFF , 980px 1264px #FFF , 263px 1682px #FFF , 909px 214px #FFF , 1901px 1077px #FFF , 279px 994px #FFF , 1507px 1205px #FFF , 1066px 251px #FFF , 1954px 70px #FFF , 1389px 990px #FFF , 1946px 2000px #FFF , 433px 385px #FFF , 1452px 479px #FFF , 1952px 606px #FFF , 1991px 1345px #FFF , 1474px 642px #FFF , 1856px 704px #FFF , 632px 566px #FFF , 1273px 1303px #FFF , 966px 330px #FFF , 62px 113px #FFF , 766px 1798px #FFF , 1515px 1492px #FFF , 1092px 1085px #FFF , 1254px 737px #FFF , 996px 1350px #FFF , 1168px 470px #FFF , 1303px 781px #FFF , 427px 2000px #FFF , 810px 1500px #FFF , 1205px 503px #FFF , 578px 331px #FFF , 1488px 1559px #FFF , 1132px 657px #FFF , 1209px 278px #FFF , 1294px 284px #FFF , 601px 356px #FFF , 1028px 417px #FFF , 1979px 1981px #FFF , 729px 982px #FFF , 469px 297px #FFF , 1976px 1401px #FFF , 1857px 1214px #FFF , 576px 552px #FFF , 341px 1191px #FFF , 1286px 627px #FFF , 446px 1518px #FFF , 1635px 1952px #FFF , 875px 1939px #FFF , 1506px 1543px #FFF , 1334px 1032px #FFF , 1480px 1674px #FFF , 175px 1120px #FFF , 117px 130px #FFF , 1614px 1709px #FFF , 1162px 1446px #FFF , 1958px 1707px #FFF , 1427px 812px #FFF , 747px 186px #FFF , 1385px 923px #FFF , 1084px 1666px #FFF , 1299px 1361px #FFF , 445px 1504px #FFF , 233px 792px #FFF , 1881px 215px #FFF , 1030px 1551px #FFF , 193px 974px #FFF , 112px 851px #FFF , 581px 786px #FFF , 744px 1908px #FFF , 335px 1916px #FFF , 145px 403px #FFF , 1905px 1134px #FFF , 1464px 363px #FFF , 1904px 576px #FFF , 811px 426px #FFF , 1133px 1771px #FFF , 673px 344px #FFF , 1957px 501px #FFF , 1669px 981px #FFF , 1800px 1119px #FFF , 957px 1631px #FFF , 480px 1488px #FFF , 1979px 1609px #FFF , 982px 564px #FFF , 393px 388px #FFF , 1845px 1507px #FFF , 446px 712px #FFF , 1639px 1150px #FFF , 487px 1551px #FFF , 852px 701px #FFF , 94px 537px #FFF , 1389px 404px #FFF , 451px 486px #FFF , 1531px 242px #FFF , 1617px 267px #FFF , 1947px 1188px #FFF , 435px 469px #FFF , 1325px 1346px #FFF , 1635px 1639px #FFF , 1763px 1192px #FFF , 1581px 1973px #FFF , 1836px 1102px #FFF , 920px 1698px #FFF , 848px 1751px #FFF , 1432px 164px #FFF , 670px 1439px #FFF , 458px 1688px #FFF , 1715px 704px #FFF , 769px 1300px #FFF , 568px 147px #FFF , 964px 1433px #FFF , 393px 1146px #FFF , 1595px 1589px #FFF , 1941px 1895px #FFF , 598px 1146px #FFF , 505px 750px #FFF , 1133px 903px #FFF , 981px 1483px #FFF , 1573px 109px #FFF , 1397px 606px #FFF , 1277px 217px #FFF , 453px 1264px #FFF , 1955px 106px #FFF , 1235px 928px #FFF , 75px 1253px #FFF , 1028px 664px #FFF , 1574px 989px #FFF , 851px 1268px #FFF , 856px 734px #FFF , 410px 145px #FFF , 1269px 184px #FFF , 1879px 657px #FFF , 1446px 793px #FFF , 1139px 479px #FFF , 114px 1562px #FFF , 447px 1961px #FFF , 996px 1830px #FFF , 1586px 685px #FFF , 15px 1399px #FFF , 1382px 946px #FFF , 1188px 1327px #FFF , 341px 731px #FFF , 579px 1367px #FFF , 764px 1094px #FFF , 1586px 299px #FFF , 88px 912px #FFF , 1498px 610px #FFF , 1926px 1239px #FFF , 804px 1286px #FFF , 1021px 231px #FFF , 1280px 1883px #FFF , 927px 1185px #FFF , 383px 363px #FFF , 781px 81px #FFF , 825px 565px #FFF , 779px 1625px #FFF , 1158px 806px #FFF , 1075px 1334px #FFF , 1374px 1613px #FFF , 664px 1757px #FFF , 661px 1193px #FFF , 379px 655px #FFF , 629px 1040px #FFF , 1669px 308px #FFF , 250px 1322px #FFF , 1822px 976px #FFF , 1337px 480px #FFF , 1065px 1690px #FFF , 449px 1760px #FFF , 1867px 356px #FFF , 1894px 1853px #FFF , 1148px 502px #FFF , 77px 188px #FFF , 762px 1468px #FFF , 1197px 1301px #FFF , 512px 719px #FFF , 391px 1067px #FFF , 939px 941px #FFF , 813px 203px #FFF , 1002px 1945px #FFF , 1627px 1626px #FFF , 510px 566px #FFF , 1064px 966px #FFF , 1376px 897px #FFF , 744px 99px #FFF , 71px 895px #FFF , 1334px 1258px #FFF , 765px 1816px #FFF , 173px 773px #FFF , 322px 252px #FFF , 930px 1758px #FFF , 1045px 634px #FFF , 1065px 1572px #FFF , 372px 116px #FFF , 728px 326px #FFF , 242px 1320px #FFF , 142px 1088px #FFF , 205px 1225px #FFF , 1353px 815px #FFF , 931px 1824px #FFF , 1650px 292px #FFF , 662px 628px #FFF , 1077px 369px #FFF , 724px 1858px #FFF , 1548px 1833px #FFF , 433px 1768px #FFF , 1680px 115px #FFF , 442px 1362px #FFF , 1773px 1487px #FFF , 1031px 810px #FFF , 544px 202px #FFF , 166px 739px #FFF , 741px 1812px #FFF , 1892px 1437px #FFF , 945px 1092px #FFF , 207px 722px #FFF , 1554px 1730px #FFF , 358px 334px #FFF , 792px 653px #FFF , 1599px 385px #FFF , 111px 783px #FFF , 1969px 1777px #FFF , 1435px 1481px #FFF , 1218px 37px #FFF , 688px 799px #FFF , 411px 1610px #FFF , 1859px 617px #FFF , 221px 980px #FFF , 1562px 875px #FFF , 747px 1489px #FFF , 1359px 44px #FFF , 1740px 735px #FFF , 240px 461px #FFF , 891px 582px #FFF , 1819px 1366px #FFF , 487px 1080px #FFF , 122px 721px #FFF , 276px 103px #FFF , 732px 1362px #FFF , 1231px 138px #FFF , 532px 1068px #FFF , 304px 1267px #FFF , 1589px 681px #FFF , 363px 1908px #FFF , 667px 1401px #FFF , 1878px 229px #FFF , 40px 1042px #FFF , 1892px 298px #FFF , 1096px 1799px #FFF , 1718px 1180px #FFF , 1697px 206px #FFF , 1576px 1542px #FFF , 1349px 39px #FFF , 1162px 1524px #FFF , 1719px 813px #FFF , 1397px 1883px #FFF , 1541px 1090px #FFF , 1696px 1756px #FFF , 426px 926px #FFF , 63px 523px #FFF , 618px 1680px #FFF , 619px 1500px #FFF , 1370px 1257px #FFF , 411px 196px #FFF , 1977px 261px #FFF , 1428px 350px #FFF , 1744px 111px #FFF , 1946px 1093px #FFF , 446px 1772px #FFF , 1615px 685px #FFF , 203px 1582px #FFF , 1243px 1012px #FFF , 402px 692px #FFF , 620px 1815px #FFF , 144px 1146px #FFF , 444px 457px #FFF , 662px 212px #FFF , 1870px 1106px #FFF , 1001px 88px #FFF , 1795px 1760px #FFF , 1627px 810px #FFF , 1834px 249px #FFF , 1762px 1967px #FFF , 1793px 1151px #FFF , 624px 1014px #FFF , 312px 1759px #FFF , 180px 1172px #FFF , 758px 1910px #FFF , 1577px 1875px #FFF , 1884px 394px #FFF , 1313px 513px #FFF , 1089px 911px #FFF , 121px 88px #FFF , 1020px 723px #FFF , 1114px 475px #FFF , 296px 1283px #FFF , 466px 1613px #FFF , 1541px 1813px #FFF , 1363px 301px #FFF , 84px 1377px #FFF , 945px 1888px #FFF , 1664px 1803px #FFF , 1803px 1574px #FFF , 625px 991px #FFF , 1526px 366px #FFF , 726px 1863px #FFF , 1953px 39px #FFF , 242px 1645px #FFF , 1757px 1003px #FFF , 1089px 138px #FFF , 1412px 12px #FFF , 739px 1171px #FFF , 489px 953px #FFF , 41px 996px #FFF , 563px 14px #FFF , 1207px 1684px #FFF , 1117px 1956px #FFF , 370px 1402px #FFF , 358px 1957px #FFF , 806px 1054px #FFF , 1732px 12px #FFF , 662px 44px #FFF , 1642px 502px #FFF , 417px 1233px #FFF , 519px 835px #FFF , 961px 41px #FFF , 1376px 472px #FFF , 531px 397px #FFF , 429px 424px #FFF , 171px 61px #FFF , 215px 603px #FFF , 1123px 1205px #FFF , 1950px 1702px #FFF , 1817px 560px #FFF , 893px 960px #FFF , 1738px 1766px #FFF , 617px 1362px #FFF , 457px 1627px #FFF , 144px 38px #FFF , 115px 1708px #FFF , 1068px 1147px #FFF , 1291px 498px #FFF , 126px 948px #FFF , 1382px 860px #FFF , 1038px 1345px #FFF , 259px 1995px #FFF , 331px 1863px #FFF , 1084px 754px #FFF , 1749px 1842px #FFF , 1986px 1075px #FFF , 875px 1900px #FFF , 1831px 1916px #FFF , 1778px 409px #FFF , 1243px 755px #FFF , 1587px 891px #FFF , 1394px 203px #FFF , 1814px 1223px #FFF , 752px 579px #FFF , 614px 100px #FFF , 541px 1284px #FFF , 398px 1858px #FFF , 55px 1246px #FFF , 251px 1097px #FFF , 399px 487px #FFF , 554px 908px #FFF , 1532px 1267px #FFF , 1648px 1339px #FFF , 1639px 1330px #FFF , 379px 688px #FFF , 1542px 114px #FFF , 533px 553px #FFF , 1583px 644px #FFF , 1452px 1802px #FFF , 868px 428px #FFF , 339px 1527px #FFF , 936px 940px #FFF , 799px 275px #FFF , 268px 385px #FFF , 590px 253px #FFF , 466px 1177px #FFF , 102px 1182px #FFF , 640px 193px #FFF , 1001px 777px #FFF , 890px 11px #FFF , 1438px 750px #FFF , 441px 832px #FFF , 803px 1414px #FFF , 1469px 606px #FFF , 377px 1809px #FFF , 1514px 1781px #FFF , 1948px 1958px #FFF , 1795px 1663px #FFF , 759px 507px #FFF , 1916px 1728px #FFF , 1266px 633px #FFF , 1429px 1054px #FFF , 1479px 676px #FFF , 246px 304px #FFF , 1616px 1582px #FFF , 1804px 1012px #FFF , 1435px 1998px #FFF , 1179px 197px #FFF , 321px 1038px #FFF , 1667px 1715px #FFF , 575px 327px #FFF , 1153px 1316px #FFF , 1308px 1597px #FFF , 1998px 803px #FFF , 1538px 897px #FFF , 481px 584px #FFF , 1187px 1715px #FFF , 406px 1711px #FFF , 423px 173px #FFF , 1528px 187px #FFF , 556px 185px #FFF , 1865px 476px #FFF , 1787px 1531px #FFF , 1891px 1185px #FFF , 3px 693px #FFF , 1677px 1249px #FFF , 351px 1202px #FFF , 570px 1711px #FFF , 1282px 595px #FFF , 1882px 1331px #FFF , 718px 1404px #FFF , 1577px 311px #FFF , 899px 540px #FFF , 311px 144px #FFF , 1510px 131px #FFF , 536px 1731px #FFF , 1056px 1285px #FFF , 1878px 1299px #FFF , 947px 1763px #FFF , 1224px 286px #FFF , 1759px 1910px #FFF , 1888px 794px #FFF , 1589px 900px #FFF , 286px 1505px #FFF , 187px 1907px #FFF , 1634px 107px #FFF , 985px 289px #FFF , 1696px 1570px #FFF , 1866px 1391px #FFF , 274px 373px #FFF , 36px 1661px #FFF , 416px 1316px #FFF , 1512px 1303px #FFF , 9px 652px #FFF , 657px 129px #FFF , 1484px 594px #FFF , 896px 566px #FFF , 942px 432px #FFF , 1688px 1402px #FFF , 50px 1472px #FFF , 496px 1483px #FFF , 1175px 1180px #FFF , 194px 1490px #FFF , 790px 510px #FFF , 1657px 1674px #FFF , 177px 1038px #FFF , 1409px 691px #FFF , 117px 1924px #FFF , 502px 871px #FFF , 789px 697px #FFF , 270px 321px #FFF , 267px 823px #FFF , 1178px 181px #FFF , 1823px 214px #FFF , 625px 960px #FFF , 1967px 915px #FFF , 1056px 179px #FFF , 1261px 1006px #FFF , 65px 1037px #FFF , 281px 1181px #FFF , 1723px 9px #FFF , 1362px 786px #FFF , 1553px 60px #FFF , 1022px 1377px #FFF , 115px 1965px #FFF , 1414px 1840px #FFF , 557px 63px #FFF , 1241px 322px #FFF , 814px 38px #FFF , 1476px 1593px #FFF , 135px 1150px #FFF , 1438px 1491px #FFF , 90px 331px #FFF , 276px 438px #FFF , 625px 1056px #FFF , 1482px 806px #FFF , 1231px 1731px #FFF , 1776px 464px #FFF , 1580px 1888px #FFF , 645px 1413px #FFF , 465px 1653px #FFF , 369px 1398px #FFF , 46px 1124px #FFF , 521px 1229px #FFF , 1158px 1239px #FFF , 733px 894px #FFF , 1910px 447px #FFF , 688px 1857px #FFF , 1649px 595px #FFF , 706px 1820px #FFF , 779px 122px #FFF , 1762px 1470px #FFF , 184px 1756px #FFF , 1132px 1703px #FFF , 222px 244px #FFF , 1976px 1518px #FFF , 1606px 629px #FFF , 1059px 1842px #FFF , 301px 1726px #FFF , 887px 577px #FFF , 659px 1850px #FFF , 1360px 538px #FFF , 1388px 684px #FFF , 987px 1526px #FFF , 1581px 1477px #FFF , 1341px 1208px #FFF , 1892px 325px #FFF , 91px 1432px #FFF , 636px 1432px #FFF , 1576px 1022px #FFF , 1176px 47px #FFF , 1150px 11px #FFF , 112px 329px #FFF , 514px 1820px #FFF , 1828px 437px #FFF , 484px 1805px #FFF , 240px 286px #FFF , 261px 654px #FFF , 1690px 1488px #FFF , 807px 1805px #FFF , 1617px 1369px #FFF , 1627px 1418px #FFF , 243px 1085px #FFF , 574px 910px #FFF , 273px 1598px #FFF , 1489px 1302px #FFF , 1936px 1525px #FFF , 971px 571px #FFF , 507px 1423px #FFF , 56px 1863px #FFF , 560px 551px #FFF , 1794px 776px #FFF , 1571px 1484px #FFF , 892px 1917px #FFF , 183px 1117px #FFF , 249px 1995px #FFF , 1276px 171px #FFF , 613px 286px #FFF , 1530px 448px #FFF , 214px 503px #FFF , 1097px 1149px #FFF , 1622px 735px #FFF , 474px 692px #FFF , 1595px 44px #FFF , 574px 1090px #FFF , 1411px 1026px #FFF , 1949px 56px #FFF , 855px 291px #FFF , 1401px 1213px #FFF , 1832px 1416px #FFF , 1339px 1705px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 142px 1363px #FFF , 547px 988px #FFF , 795px 127px #FFF , 561px 755px #FFF , 767px 1460px #FFF , 1746px 741px #FFF , 373px 1603px #FFF , 1615px 1033px #FFF , 44px 408px #FFF , 741px 1859px #FFF , 1274px 830px #FFF , 470px 1378px #FFF , 561px 525px #FFF , 1373px 1269px #FFF , 608px 579px #FFF , 1583px 1503px #FFF , 1470px 490px #FFF , 1315px 648px #FFF , 1266px 519px #FFF , 741px 1094px #FFF , 389px 707px #FFF , 1239px 1147px #FFF , 1161px 1338px #FFF , 1140px 1230px #FFF , 1231px 1046px #FFF , 844px 440px #FFF , 1525px 1364px #FFF , 980px 1339px #FFF , 1221px 1862px #FFF , 1604px 1252px #FFF , 853px 1290px #FFF , 1133px 826px #FFF , 649px 110px #FFF , 735px 328px #FFF , 1344px 1507px #FFF , 150px 1958px #FFF , 1608px 1044px #FFF , 609px 219px #FFF , 292px 809px #FFF , 1908px 1895px #FFF , 1408px 398px #FFF , 19px 221px #FFF , 739px 1159px #FFF , 1610px 231px #FFF , 1322px 1425px #FFF , 1083px 1437px #FFF , 1633px 1006px #FFF , 536px 1681px #FFF , 828px 69px #FFF , 659px 984px #FFF , 726px 633px #FFF , 465px 1819px #FFF , 559px 84px #FFF , 1280px 1786px #FFF , 473px 823px #FFF , 212px 393px #FFF , 492px 379px #FFF , 1778px 1761px #FFF , 1376px 1709px #FFF , 1548px 1836px #FFF , 91px 1423px #FFF , 1088px 660px #FFF , 72px 269px #FFF , 1904px 234px #FFF , 1293px 483px #FFF , 1428px 673px #FFF , 118px 205px #FFF , 750px 626px #FFF , 158px 1694px #FFF , 1671px 1139px #FFF , 99px 1732px #FFF , 208px 1891px #FFF , 1410px 1134px #FFF , 681px 1542px #FFF , 1180px 752px #FFF , 162px 731px #FFF , 1063px 1476px #FFF , 658px 1414px #FFF , 1829px 1123px #FFF , 412px 32px #FFF , 590px 1719px #FFF , 1174px 1190px #FFF , 751px 1593px #FFF , 545px 1558px #FFF , 780px 192px #FFF , 1620px 442px #FFF , 997px 1720px #FFF , 1568px 1695px #FFF , 1776px 47px #FFF , 398px 1601px #FFF , 17px 1626px #FFF , 248px 1712px #FFF , 513px 1082px #FFF , 1578px 1573px #FFF , 1619px 1896px #FFF , 568px 485px #FFF , 187px 864px #FFF , 66px 1003px #FFF , 1944px 111px #FFF , 104px 1895px #FFF , 110px 1310px #FFF , 1949px 1829px #FFF , 580px 1371px #FFF , 1600px 1815px #FFF , 1878px 1730px #FFF , 1428px 1797px #FFF , 1635px 1927px #FFF , 323px 543px #FFF , 830px 1229px #FFF , 1811px 1788px #FFF , 161px 713px #FFF , 1020px 1922px #FFF , 882px 1581px #FFF , 302px 1595px #FFF , 1480px 1899px #FFF , 1578px 628px #FFF , 955px 12px #FFF , 1767px 49px #FFF , 85px 279px #FFF , 1525px 690px #FFF , 344px 1697px #FFF , 1443px 110px #FFF , 1991px 8px #FFF , 1564px 417px #FFF , 1586px 1659px #FFF , 1305px 1855px #FFF , 1777px 790px #FFF , 53px 1376px #FFF , 539px 381px #FFF , 832px 586px #FFF , 1297px 910px #FFF , 1019px 677px #FFF , 202px 1514px #FFF , 472px 1281px #FFF , 639px 913px #FFF , 1895px 1104px #FFF , 1794px 857px #FFF , 1223px 171px #FFF , 733px 1411px #FFF , 359px 440px #FFF , 554px 1955px #FFF , 1601px 1042px #FFF , 1607px 1864px #FFF , 1098px 358px #FFF , 819px 213px #FFF , 980px 619px #FFF , 1814px 313px #FFF , 172px 718px #FFF , 454px 1055px #FFF , 1687px 1611px #FFF , 141px 1809px #FFF , 736px 819px #FFF , 1287px 1279px #FFF , 1577px 971px #FFF , 19px 1911px #FFF , 1390px 563px #FFF , 384px 384px #FFF , 938px 1435px #FFF , 773px 1418px #FFF , 790px 1943px #FFF , 1911px 1256px #FFF , 661px 28px #FFF , 970px 2000px #FFF , 343px 608px #FFF , 1649px 1641px #FFF , 1419px 1118px #FFF , 313px 1538px #FFF , 1489px 1603px #FFF , 1230px 1403px #FFF , 1213px 266px #FFF , 253px 1505px #FFF , 1620px 1469px #FFF , 22px 1674px #FFF , 325px 896px #FFF , 1483px 1106px #FFF , 570px 1992px #FFF , 73px 1167px #FFF , 1958px 61px #FFF , 865px 323px #FFF , 1157px 60px #FFF , 470px 554px #FFF , 1949px 1578px #FFF , 1918px 1869px #FFF , 1529px 665px #FFF , 944px 554px #FFF , 1306px 304px #FFF , 1914px 353px #FFF , 7px 310px #FFF , 1300px 310px #FFF , 980px 1474px #FFF , 1865px 436px #FFF , 787px 1388px #FFF , 1273px 341px #FFF , 1967px 983px #FFF , 1067px 397px #FFF , 212px 959px #FFF , 641px 223px #FFF , 463px 280px #FFF , 1724px 652px #FFF , 1771px 143px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 142px 1363px #FFF , 547px 988px #FFF , 795px 127px #FFF , 561px 755px #FFF , 767px 1460px #FFF , 1746px 741px #FFF , 373px 1603px #FFF , 1615px 1033px #FFF , 44px 408px #FFF , 741px 1859px #FFF , 1274px 830px #FFF , 470px 1378px #FFF , 561px 525px #FFF , 1373px 1269px #FFF , 608px 579px #FFF , 1583px 1503px #FFF , 1470px 490px #FFF , 1315px 648px #FFF , 1266px 519px #FFF , 741px 1094px #FFF , 389px 707px #FFF , 1239px 1147px #FFF , 1161px 1338px #FFF , 1140px 1230px #FFF , 1231px 1046px #FFF , 844px 440px #FFF , 1525px 1364px #FFF , 980px 1339px #FFF , 1221px 1862px #FFF , 1604px 1252px #FFF , 853px 1290px #FFF , 1133px 826px #FFF , 649px 110px #FFF , 735px 328px #FFF , 1344px 1507px #FFF , 150px 1958px #FFF , 1608px 1044px #FFF , 609px 219px #FFF , 292px 809px #FFF , 1908px 1895px #FFF , 1408px 398px #FFF , 19px 221px #FFF , 739px 1159px #FFF , 1610px 231px #FFF , 1322px 1425px #FFF , 1083px 1437px #FFF , 1633px 1006px #FFF , 536px 1681px #FFF , 828px 69px #FFF , 659px 984px #FFF , 726px 633px #FFF , 465px 1819px #FFF , 559px 84px #FFF , 1280px 1786px #FFF , 473px 823px #FFF , 212px 393px #FFF , 492px 379px #FFF , 1778px 1761px #FFF , 1376px 1709px #FFF , 1548px 1836px #FFF , 91px 1423px #FFF , 1088px 660px #FFF , 72px 269px #FFF , 1904px 234px #FFF , 1293px 483px #FFF , 1428px 673px #FFF , 118px 205px #FFF , 750px 626px #FFF , 158px 1694px #FFF , 1671px 1139px #FFF , 99px 1732px #FFF , 208px 1891px #FFF , 1410px 1134px #FFF , 681px 1542px #FFF , 1180px 752px #FFF , 162px 731px #FFF , 1063px 1476px #FFF , 658px 1414px #FFF , 1829px 1123px #FFF , 412px 32px #FFF , 590px 1719px #FFF , 1174px 1190px #FFF , 751px 1593px #FFF , 545px 1558px #FFF , 780px 192px #FFF , 1620px 442px #FFF , 997px 1720px #FFF , 1568px 1695px #FFF , 1776px 47px #FFF , 398px 1601px #FFF , 17px 1626px #FFF , 248px 1712px #FFF , 513px 1082px #FFF , 1578px 1573px #FFF , 1619px 1896px #FFF , 568px 485px #FFF , 187px 864px #FFF , 66px 1003px #FFF , 1944px 111px #FFF , 104px 1895px #FFF , 110px 1310px #FFF , 1949px 1829px #FFF , 580px 1371px #FFF , 1600px 1815px #FFF , 1878px 1730px #FFF , 1428px 1797px #FFF , 1635px 1927px #FFF , 323px 543px #FFF , 830px 1229px #FFF , 1811px 1788px #FFF , 161px 713px #FFF , 1020px 1922px #FFF , 882px 1581px #FFF , 302px 1595px #FFF , 1480px 1899px #FFF , 1578px 628px #FFF , 955px 12px #FFF , 1767px 49px #FFF , 85px 279px #FFF , 1525px 690px #FFF , 344px 1697px #FFF , 1443px 110px #FFF , 1991px 8px #FFF , 1564px 417px #FFF , 1586px 1659px #FFF , 1305px 1855px #FFF , 1777px 790px #FFF , 53px 1376px #FFF , 539px 381px #FFF , 832px 586px #FFF , 1297px 910px #FFF , 1019px 677px #FFF , 202px 1514px #FFF , 472px 1281px #FFF , 639px 913px #FFF , 1895px 1104px #FFF , 1794px 857px #FFF , 1223px 171px #FFF , 733px 1411px #FFF , 359px 440px #FFF , 554px 1955px #FFF , 1601px 1042px #FFF , 1607px 1864px #FFF , 1098px 358px #FFF , 819px 213px #FFF , 980px 619px #FFF , 1814px 313px #FFF , 172px 718px #FFF , 454px 1055px #FFF , 1687px 1611px #FFF , 141px 1809px #FFF , 736px 819px #FFF , 1287px 1279px #FFF , 1577px 971px #FFF , 19px 1911px #FFF , 1390px 563px #FFF , 384px 384px #FFF , 938px 1435px #FFF , 773px 1418px #FFF , 790px 1943px #FFF , 1911px 1256px #FFF , 661px 28px #FFF , 970px 2000px #FFF , 343px 608px #FFF , 1649px 1641px #FFF , 1419px 1118px #FFF , 313px 1538px #FFF , 1489px 1603px #FFF , 1230px 1403px #FFF , 1213px 266px #FFF , 253px 1505px #FFF , 1620px 1469px #FFF , 22px 1674px #FFF , 325px 896px #FFF , 1483px 1106px #FFF , 570px 1992px #FFF , 73px 1167px #FFF , 1958px 61px #FFF , 865px 323px #FFF , 1157px 60px #FFF , 470px 554px #FFF , 1949px 1578px #FFF , 1918px 1869px #FFF , 1529px 665px #FFF , 944px 554px #FFF , 1306px 304px #FFF , 1914px 353px #FFF , 7px 310px #FFF , 1300px 310px #FFF , 980px 1474px #FFF , 1865px 436px #FFF , 787px 1388px #FFF , 1273px 341px #FFF , 1967px 983px #FFF , 1067px 397px #FFF , 212px 959px #FFF , 641px 223px #FFF , 463px 280px #FFF , 1724px 652px #FFF , 1771px 143px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1677px 568px #FFF , 810px 1574px #FFF , 178px 55px #FFF , 1644px 1150px #FFF , 1636px 674px #FFF , 731px 1881px #FFF , 345px 967px #FFF , 1035px 96px #FFF , 1439px 1657px #FFF , 588px 107px #FFF , 385px 970px #FFF , 176px 869px #FFF , 1686px 787px #FFF , 388px 994px #FFF , 667px 809px #FFF , 119px 935px #FFF , 1075px 1297px #FFF , 181px 980px #FFF , 1677px 434px #FFF , 738px 1013px #FFF , 419px 1483px #FFF , 1251px 45px #FFF , 530px 708px #FFF , 1150px 1684px #FFF , 1978px 1866px #FFF , 348px 1752px #FFF , 1489px 306px #FFF , 443px 580px #FFF , 1510px 913px #FFF , 43px 1948px #FFF , 1652px 725px #FFF , 426px 748px #FFF , 775px 344px #FFF , 660px 1798px #FFF , 1657px 239px #FFF , 175px 1816px #FFF , 362px 1059px #FFF , 1004px 1950px #FFF , 1482px 93px #FFF , 37px 1801px #FFF , 1523px 792px #FFF , 52px 117px #FFF , 1076px 268px #FFF , 1185px 1037px #FFF , 503px 1472px #FFF , 814px 651px #FFF , 613px 109px #FFF , 1797px 536px #FFF , 1417px 45px #FFF , 1405px 331px #FFF , 917px 164px #FFF , 604px 236px #FFF , 685px 1764px #FFF , 77px 467px #FFF , 352px 447px #FFF , 772px 1445px #FFF , 1166px 1772px #FFF , 979px 1880px #FFF , 523px 548px #FFF , 65px 1019px #FFF , 1206px 504px #FFF , 594px 1911px #FFF , 25px 1496px #FFF , 1088px 1759px #FFF , 111px 858px #FFF , 408px 89px #FFF , 718px 917px #FFF , 1001px 1798px #FFF , 406px 1197px #FFF , 1341px 173px #FFF , 747px 1169px #FFF , 1430px 787px #FFF , 1472px 1881px #FFF , 431px 1995px #FFF , 334px 1602px #FFF , 1369px 1183px #FFF , 900px 1912px #FFF , 247px 520px #FFF , 1064px 1793px #FFF , 595px 1181px #FFF , 860px 1231px #FFF , 755px 1062px #FFF , 392px 322px #FFF , 712px 628px #FFF , 957px 373px #FFF , 1999px 1205px #FFF , 1426px 552px #FFF , 878px 706px #FFF , 281px 994px #FFF , 58px 785px #FFF , 563px 720px #FFF , 546px 1609px #FFF , 542px 1679px #FFF , 1229px 491px #FFF , 1009px 800px #FFF , 974px 1488px #FFF , 917px 244px #FFF , 1165px 1464px #FFF , 1168px 1037px #FFF , 405px 1603px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1677px 568px #FFF , 810px 1574px #FFF , 178px 55px #FFF , 1644px 1150px #FFF , 1636px 674px #FFF , 731px 1881px #FFF , 345px 967px #FFF , 1035px 96px #FFF , 1439px 1657px #FFF , 588px 107px #FFF , 385px 970px #FFF , 176px 869px #FFF , 1686px 787px #FFF , 388px 994px #FFF , 667px 809px #FFF , 119px 935px #FFF , 1075px 1297px #FFF , 181px 980px #FFF , 1677px 434px #FFF , 738px 1013px #FFF , 419px 1483px #FFF , 1251px 45px #FFF , 530px 708px #FFF , 1150px 1684px #FFF , 1978px 1866px #FFF , 348px 1752px #FFF , 1489px 306px #FFF , 443px 580px #FFF , 1510px 913px #FFF , 43px 1948px #FFF , 1652px 725px #FFF , 426px 748px #FFF , 775px 344px #FFF , 660px 1798px #FFF , 1657px 239px #FFF , 175px 1816px #FFF , 362px 1059px #FFF , 1004px 1950px #FFF , 1482px 93px #FFF , 37px 1801px #FFF , 1523px 792px #FFF , 52px 117px #FFF , 1076px 268px #FFF , 1185px 1037px #FFF , 503px 1472px #FFF , 814px 651px #FFF , 613px 109px #FFF , 1797px 536px #FFF , 1417px 45px #FFF , 1405px 331px #FFF , 917px 164px #FFF , 604px 236px #FFF , 685px 1764px #FFF , 77px 467px #FFF , 352px 447px #FFF , 772px 1445px #FFF , 1166px 1772px #FFF , 979px 1880px #FFF , 523px 548px #FFF , 65px 1019px #FFF , 1206px 504px #FFF , 594px 1911px #FFF , 25px 1496px #FFF , 1088px 1759px #FFF , 111px 858px #FFF , 408px 89px #FFF , 718px 917px #FFF , 1001px 1798px #FFF , 406px 1197px #FFF , 1341px 173px #FFF , 747px 1169px #FFF , 1430px 787px #FFF , 1472px 1881px #FFF , 431px 1995px #FFF , 334px 1602px #FFF , 1369px 1183px #FFF , 900px 1912px #FFF , 247px 520px #FFF , 1064px 1793px #FFF , 595px 1181px #FFF , 860px 1231px #FFF , 755px 1062px #FFF , 392px 322px #FFF , 712px 628px #FFF , 957px 373px #FFF , 1999px 1205px #FFF , 1426px 552px #FFF , 878px 706px #FFF , 281px 994px #FFF , 58px 785px #FFF , 563px 720px #FFF , 546px 1609px #FFF , 542px 1679px #FFF , 1229px 491px #FFF , 1009px 800px #FFF , 974px 1488px #FFF , 917px 244px #FFF , 1165px 1464px #FFF , 1168px 1037px #FFF , 405px 1603px #FFF;
}

.planeta {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -15vh;
  margin-left: 42vw;
  width: 16vw;
  filter: saturate(60%);
  position: absolute;

  -webkit-animation:spin 150s linear infinite;
    -moz-animation:spin 150s linear infinite;
    animation:spin 150s linear infinite;
}

.ringa {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.relaya {
  transform: rotate(130deg);
  border: 0.01em solid #fefefe;

  position: absolute;
  top: 33%;
  margin-left: 39vw;
}

.menublock{
	display: flex;
  align-items: center;
  justify-content: center;
	/*width: 3.5vw;
	height: 5.8vh;*/
	position: absolute;
	top: 42%;
	margin-left: 80.5vw;
	border: 2px solid #46D8F0;
	border-radius: 5px;
	/*text-align: center;*/
	color: #fff;
  	font-family: 'covesb';
	/*padding-top: 8px;*/
	font-size: 14px;

  min-height: 50px;
  min-width: 50px;

  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.menuleft{
	top: 50%;
	margin-left: 77.3vw !important;
}

.menuright{
	top: 50%;
	margin-left: 83.7vw !important;
}

.menubottom{
	top: 58%;
	margin-left: 80.5vw !important;
}

.menublock span{
	position: absolute;
	/*margin-top: 32%;
	margin-left: -43%;
	font-size: 31px;*/

  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.menublock span i {
  font-size: 24px;
}

.alertmodule {
  position: absolute;
  right: 10%;
  bottom: 5vh;
  display: flex;
  width: auto;
  min-width: 200px;
  min-height: 40px;
}

.alertmodule div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.5vh;
  color: #fff;
  font-family: 'covesb';
}

.alertmodule .alert-text {
  padding-left: 1.2vw;
}

.alertmodule .alertblock {
  font-family: 'covesb';
  width: 3.5vw;
  border: 2px solid #46D8F0;
	border-radius: 5px;
	text-align: center;
	padding-top: 0.5%;
	font-size: 24px;
}

.alertmodule .alertblock:hover {
  font-size: 30px;
}

.accountblock {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  top: 7.5vh;
  right: 9.2vw;
  color: white;
  font-family: 'coves'
}

.accountblock .accountrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.accountrow span {
  width: auto;
  min-width: 2vw;
  padding-right: 0.7vw;
}

.fluxamount {
  font-size: 12px;
}

.username {
  font-size: 24px;
}

.levelblock{
	display: block;
	width: 4vw;
	height: 7vh;
	position: absolute;
	margin-top: 34vh;
	margin-left: 37.5vw;
	border: 2px solid #46D8F0;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-family: 'covesb';
	padding-top: 0.5%;
	font-size: 14px;
}

.levelblock span{
	position: absolute;
	margin-top: 32%;
	margin-left: -43%;
	font-size: 31px;
}

.arma{
	position: absolute;
	width: 10.594px;
	height: 1px;
	background-color: #fff;
	margin-top: 38vh;
	margin-left: 41.8vw;
}

.armb{
	position: absolute;
	width: 30.5px;
	height: 1px;
	background-color: #fff;
	margin-top: 39.279vh;
	margin-left: 42.29vw;
	transform: rotate(40deg);
}

.armc{
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #fff;
	margin-top: 40.1vh;
	margin-left: 43.785vw;
	transform: rotate(40deg);
	border-radius: 50%;
}

.armt {
  position: absolute;
	width: 40px;
	height: 1px;
	background-color: #fff;
	margin-top: 38.5vh;
	margin-left: 54.6vw;
  transform: rotate(-60deg);
}

.armt2 {
  position: absolute;
	width: 240px;
	height: 1px;
	background-color: #fff;
	margin-top: 36.3vh;
	margin-left: 56.6vw;
}

.armt3 {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1000;
  background-color: #fff;
  margin-top: 40.1vh;
  margin-left: 54.9vw;
  transform: rotate(40deg);
  border-radius: 50%;
}

.armps1 {
  position: absolute;
	width: 32px;
	height: 1px;
	background-color: #fff;
	margin-top: 62.3vh;
	margin-left: 54.8vw;
  transform: rotate(50deg);
}

.armps2{
  position: absolute;
	width: 15px;
	height: 1px;
	background-color: #fff;
	margin-top: 63.8vh;
	margin-left: 56.6vw;
}

.armps3{
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 1000;
  background-color: #fff;
  margin-top: 60.4vh;
	margin-left: 55vw;
  transform: rotate(40deg);
  border-radius: 50%;
}

.armcontent {
  /*position: absolute;*/
  width: 100%;
	margin-top: -1.3em;
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-family: 'covesb';
  text-transform: uppercase;
}

.statparent {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 2vw;
  min-height: 7vh;
  margin-top: 54.1vh;
  margin-left: 57.9vw;
}

.planetstat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
  width: 100%;
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
}

.planetstat span {
  color: #FFF;
  font-family: 'covesb';
}

.greybar{
	display: block;
	height: 100vh;
	width: 9vw;
	background-color: rgba(16, 20, 21, 0.3);
	margin-top: -1%;
	margin-left: -1%;
	position: absolute;
	z-index: 900;
}

.pagename{
	font-size: 26px;
	color: #fff;
  	font-family: 'coves';
  	position: absolute;
  	letter-spacing: 2px;
  	z-index: 9000;
  	text-transform: uppercase;
  	margin-top: 5vh;
  	margin-left: 6vw;
}

.pagesubtitle{
	font-size: 16px;
	color: #fff;
  	font-family: 'covesb';
  	position: absolute;
  	letter-spacing: 2px;
  	z-index: 9000;
  	margin-top: 14vh;
  	margin-left: 6vw;
}

.planetinfo{
  	margin-top: 18vh;
  	margin-left: 6vw;
  	width: 90vw;
  	display: flex;

  	position:absolute;
    z-index:10000;
}

.planetinfo .row{
    z-index:1000;
}
.planetinfo .col{
  	font-family: 'coves';
	font-size: 14px;
	color: #fff;
	padding-top: 1vh;
    z-index:1000;
}

.planetcounters{
	margin-left: 6vw;
	z-index: 1000;
	position: absolute;
  	font-family: 'covesb' !important;
}

.backline{
	position: absolute;
	z-index: -100;
	width: 10vw;
	height: 5px;
	background-color: #020204;
	margin-top: -1.5vh;
	border-radius: 30px;
}

.backloading{
	position: absolute;
	z-index: 0;
	width: 6vw;
	height: 6.3px;
	background-color: #46D8F0;
	margin-top: 0.32%;
	border-radius: 5%;
	filter: blur(1px);
	border-radius: 30px;
	margin-left: -2%;
}

.backloading2{
	position: absolute;
	z-index: 0;
	width: 4vw;
	height: 6.3px;
	background-color: #E31676;
	margin-top: 0.32%;
	border-radius: 5%;
	filter: blur(1px);
	border-radius: 30px;
	margin-left: -2%;
}

.planets{
	position: absolute;
  margin-top: 28%;
  margin-left: 4%;
  z-index: 9000;
}

.planets img{
	width: 60%;
}

.selectedimage{
  width: 70% !important;
}

.selectedimage:hover{
  width: 75% !important;
}

.selectedplanet{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 110px;
  height: 110px;
  background-color: rgba(16, 20, 21, 0.3);
  z-index: 0;
  position: absolute;
  margin-top: -13.5vh;
  margin-left: -3%;
  border-radius: 50%;
}

.textplanets{
  margin-left: 13%;
  margin-top: 19.3%;
}
.textplanets .col{
  padding-top: 22%;
}
.textplanets h3{
  font-family: 'covesb';
  color: #fff;
  font-size: 14px;
  margin-top: 3.9vh;
}
.textplanets h4{
  font-family: 'coves';
  color: #fff;
  margin-top: -11%;
  font-size: 14px;
}

.fa-globe{
  color: #47D9EF;
  font-size: 21px !important;
  margin-top: -11%;
  position: absolute;
  margin-left: 17.5vw;
}

#loader-7 span {
  display: inline-block;
  height: 15px;
  width: 40vw;
  background: #2FAC9B;
  border-radius: 0px;
}
.border-radius {
  border-radius: 500px;
}
*[id*="loader-"] {
  margin-bottom: 30px;

  position: absolute;
  margin-left: 43.5vw;
  margin-top: 85vh;
  z-index: 900;
}

#loader-7 span:nth-child(1) {
  -webkit-animation: temp 1s 0.05s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.05s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(2) {
  -webkit-animation: temp 1s 0.1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(3) {
  -webkit-animation: temp 1s 0.15s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.15s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(4) {
  -webkit-animation: temp 1s 0.2s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.2s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(5) {
  -webkit-animation: temp 1s 0.25s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.25s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(6) {
  -webkit-animation: temp 1s 0.3s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.3s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(7) {
  -webkit-animation: temp 1s 0.35s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.35s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(8) {
  -webkit-animation: temp 1s 0.4s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.4s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(9) {
  -webkit-animation: temp 1s 0.45s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.45s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(10) {
  -webkit-animation: temp 1s 0.5s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.5s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(11) {
  -webkit-animation: temp 1s 0.55s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          3animation: temp 1s 0.55s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(12) {
  -webkit-animation: temp 1s 0.6s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.6s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(13) {
  -webkit-animation: temp 1s 0.65s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.65s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(14) {
  -webkit-animation: temp 1s 0.7s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.7s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(15) {
  -webkit-animation: temp 1s 0.75s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.75s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(16) {
  -webkit-animation: temp 1s 0.8s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.8s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(17) {
  -webkit-animation: temp 1s 0.85s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.85s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(18) {
  -webkit-animation: temp 1s 0.9s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.9s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(19) {
  -webkit-animation: temp 1s 0.95s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.95s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}
#loader-7 span:nth-child(20) {
  -webkit-animation: temp 1s 1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 4.5px;
  height: 4.5px;
  margin: 0 2px;
  border-radius: 20%;
}

.specialicons{
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
  display: inline-flex;
  left: 39%;
  margin-top: 7vh;
  z-index: 9000;
}

.specialicons .row{
  width: 100%;
}
.specialicons .col{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 5%;
  background-color: transparent;
}

.specialicons i{
  margin-top: 1.4%;
  position: absolute;
  margin-left: -0.85%;
  z-index: 9000;
}

.extra{
  margin-left: -0.7% !important;
}




@-webkit-keyframes temp {
  50% {
    -webkit-transform: scale(1, 5);
            transform: scale(1, 5);
    background: #195c53;
  }
}
@keyframes temp {
  50% {
    -webkit-transform: scale(1, 5);
            transform: scale(1, 5);
    background: #195c53;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
