  <div class="starwrapper">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
    </div>

    <div class="greybar"></div>

    <img class="backa animated pulse infinite" style="z-index: -2" src="https://upload.wikimedia.org/wikipedia/commons/5/50/Translucent_Helix_Nebula.png">
    <div class="row specialicons">
      <div class="col" style="border: 2px solid #C11C99;"><i class="fa fa-space-shuttle" aria-hidden="true"></i></div>
      <div class="col" style="border: 2px solid #4C809E;"><i class="fa fa-trophy" aria-hidden="true"></i></div>
      <div class="col" style="border: 2px solid #E51A79;"><i class="fa extra fa-bookmark-o" aria-hidden="true"></i></div>
    </div>

    <h1 class="pagename">Genesis Characters </h1>

    <div *ngIf="!profile">
      <h2 class="pagesubtitle">System Data</h2>
    </div>

    <div *ngIf="!profile">
      <ul>
        <li class="planets"  *ngFor="let item of items | async" (click)="select(item)"><img src="{{item.URL}}"> <h3>{{item.Name}}</h3><h4>LvL: {{item.lvl}}</h4></li>
      </ul>
    </div>

    <div id="loader-7" *ngIf="!profile">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>

    <div *ngIf="!profile">
      <div class="planetinfo">
        <div class="row">
          <div class="col">Reputation</div>
          <div class="col">Population</div>
          <div class="col">Daily Income</div>
        </div>

        <div class="row planetcounters">
          <div class="col">3250 / 4000<div class="backline"><div class="backloading"></div></div></div>
          <div class="col">12 / 48<div class="backline"><div class="backloading2"></div></div></div>
          <div class="col">22 &#164;</div>
        </div>

      </div>
    </div>

    <div class="accountblock">
      <div class="accountrow">
        <span class="fluxamount">200 <i class="fa fa-gg" aria-hidden="true"></i></span>
        <span class="username">Gillamere</span>
      </div>
      <!-- <div class="accountrow">
        <span class="fluxamount">10 <i class="fa fa-optin-monster" aria-hidden="true"></i></span>
        <span class="username">Drifters</span>
      </div> -->
    </div>

    <div *ngIf="!profile">
      <div class="ringa relaya"></div>

      <div class="levelblock">LvL<span>{{itemlvl}}</span></div>
      <div class="arma"></div><div class="armb"></div><div class="armc"></div>

      <div class="armt3"></div><div class="armt"></div><div class="armt2"><div class="armcontent">{{itemname}}</div></div>

      <div class="armps3"></div><div class="armps1"></div><div class="armps2"></div>

      <div class="statparent">
        <div class="planetstat"><span>Lava Terrain</span></div>
        <div class="planetstat"><span>10.8G Gravity</span></div>
        <div class="planetstat"><span>12/48 Population</span></div>
      </div>
    </div>

    <div class="menublock"><span><i class="fa fa-compass" aria-hidden="true"></i></span></div>
    <div class="menublock menuleft" (click)="planetpage()"><span><i class="fa fa-superpowers" aria-hidden="true"></i></span></div>
    <div class="menublock menuright" (click)="planetpage()"><span><i class="fa fa-leaf" aria-hidden="true"></i></span></div>
    <div class="menublock menubottom"><span><i class="fa fa-bolt" aria-hidden="true"></i></span></div>

    <div class="alertmodule">
      <div class="alertblock">
        <span><i class="fa fa-exclamation" aria-hidden="true"></i></span>
      </div>
      <div class="alert-text">
        <span>New Notification Active</span>
      </div>
    </div>

    <div *ngIf="!profile">
      <img src="{{myimage}}" class="planeta" />
    </div>


  <div *ngIf="profile">

    <ul>
      <li class="character-bar"  *ngFor="let character of characters | async" (click)="character_select(character)"><img src="{{character.c_head_icon_url}}"> <h3>{{character.c_name}}</h3></li>
    </ul>

    <!-- Char Name -->
    <!-- <div style="position:absolute; top: 25vh; left: 28vw; display: flex; flex-direction: column;">
      <div class="armcontent">{{c_name}} <span>{{c_secondary}}</span></div>
      <svg height="185" width="285">
        <polyline points="0,0, 250, 0, 270, 30 " style="fill:transparent;stroke:white;stroke-width:2" />
        <circle cx="270" cy="30" r="5" stroke-width="0" fill="white" />
        Sorry, your browser does not support inline SVG.
      </svg>
    </div> -->

    <!-- Long Upper ~ Right -->
    <!-- <div style="position:absolute; top: 25vh; right: 28vw; display: flex; flex-direction: row;">
      <svg height="185" width="110">
        <polyline points="105,0,20,0,5,30" style="fill:transparent;stroke:white;stroke-width:2" />
        <circle cx="5" cy="30" r="3" stroke-width="0" fill="white" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <div style="margin: 0; margin-top: -3.5vh;">
        <div class="planetstat" style=""><span>AM Beam</span></div>
      </div>
    </div> -->

    <!-- Short Upper Node ~ Right -->
    <!-- <div style="position:absolute; top: 10vh; right: 28vw; display: flex; flex-direction: row;">
      <svg height="185" width="45">
        <polyline points="40,0,20,0,5,30" style="fill:transparent;stroke:white;stroke-width:2" />
        <circle cx="5" cy="30" r="3" stroke-width="0" fill="white" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <div style="margin: 0; margin-top: -3.5vh;">
        <div class="planetstat" style=""><span>AM Beam</span></div>
      </div>
    </div> -->

    <!-- Short Lower Node ~ Right -->
    <div *ngIf="c_data?.length > 0" style="position:absolute; top: 27vh; right: 25vw; display: flex; flex-direction: row;">
      <svg height="190" width="60">
        <polyline points="5,5,30,30,50,30" style="fill:transparent;stroke:white;stroke-width:2" />
        <circle cx="5" cy="5" r="4" stroke-width="0" fill="white" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <div style="margin: 0;">
        <div class="planetstat" style=""><span>Tesla Sniper</span></div>
      </div>
    </div>

    <!-- Short Lower Node ~ Right -->
    <!-- <div style="position:absolute; bottom: 28vh; right: 29vw; display: flex; flex-direction: row;">
      <svg height="190" width="60">
        <polyline points="5,5,30,30,50,30" style="fill:transparent;stroke:white;stroke-width:2" />
        <circle cx="5" cy="5" r="4" stroke-width="0" fill="white" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <div style="margin: 0;">
        <div class="planetstat" style=""><span>Mark-IV FayronExo&copy;</span></div>
      </div>
    </div> -->

    <!-- Short Lower Node ~ Left -->
    <!-- <div style="position:absolute;bottom: 18vh; left: 29vw; display: flex; flex-direction: row;">
      <div style="margin: 0;">
        <div class="planetstat" style=""><span>XYPHER-27</span></div>
      </div>
      <svg height="190" width="45">
        <polyline points="40, 5, 30, 30, 10, 30" style="fill:transparent;stroke:white;stroke-width:2" />
        <circle cx="40" cy="5" r="3" stroke-width="0" fill="white" />
        Sorry, your browser does not support inline SVG.
      </svg>
    </div> -->

    <!-- <div style="position:absolute; top: -10vh; left:-10vh;">

      <div class="armps3"></div><div class="armps1"></div><div class="armps2"></div>

      <div class="statparent" style="top: 6vh;">
        <div class="planetstat"><span>Adamantite Shell</span></div>
      </div>
    </div> -->

    <!-- <div style="position:absolute; top: 10vh;">
      <div class="armps3"></div><div class="armps1"></div><div class="armps2"></div>

      <div class="statparent" style="top: 6vh;">
        <div class="planetstat"><span>10.8GHz Ion Thrusters</span></div>
      </div>
    </div> -->

    <div class="character-container">
      <img src="{{c_img_url}}" class="charactera" />
    </div>

    <!-- <div class="hero-container">
      <div class="hero-item"><img src="/assets/images/characters/aurora/HeadAurora.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/alatus/HeadAlatus.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/baron/HeadBaron.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/erebus/HeadErebus.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/tyrant/HeadTyrant.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/osirus/HeadOsirus.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/aurora/HeadAurora.png" /></div>
      <div class="hero-item"><img src="/assets/images/characters/aurora/HeadAurora.png" /></div>
    </div> -->


  </div>
