@font-face {
  font-family: 'covesb';
  src: url('fonts/covesb.otf');
}

@font-face {
  font-family: 'coves';
  src: url('fonts/coves.otf');
}

body {
  background: radial-gradient(ellipse at top left, #1b2735 47%, #090a0f 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
}
